body{
    text-align: center;
    background-color: rgb(199, 230, 240);
}

.cell{
    width: 80px;
    height: 80px;
    background-color:rgb(232, 225, 225);
}

table{
    margin: 0 auto
}

#result{
    font-size: 2rem
}