body{
    margin: auto;
    text-align: center;
    background-color: rgb(0, 0, 65);
    color: white;
    background-image: url(media/coins.gif);
    background-repeat: no-repeat;
    background-size:100%;
}

h1{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25em;
    color: red;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#cash-out{
    align-self: center;
    justify-self: center;
    padding: 1em;
    background-color: red;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
    margin: 1em 0;
}

#result{
    display: none;
    font-size: 3rem;   
    font-weight: bolder; 
    color: red;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;   
}

.level-selection{
    font-size: 1.5em;
}

#start{
    padding: 0.5em 1em;
    margin-top: 1em;
    background-color: red;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
}

#levelDisplay{
    font-size: 1.5em;
    display: none;

}

#grid{
    justify-self: center;
    display: none;
}

.cell{
    width: 75px;
    height: 75px;
    background-color:rgb(219, 215, 215);
    background-size: contain;
}

#balance{
    align-self: center;
    color: gold;
    font-size: 3em;
}

#balanceAmount{
    font-size: 4em;
}

@media(max-width: 768px){
    main{
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
    }
}